# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/original_old/node_modules
/original_new/node_modules
/tailwind/node_modules
/argon/node_modules
/.pnp
.pnp.js
/argon/
# testing
/coverage

# production


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


workspace.code-workspace

README.md
package-lock.json
original new /node_modules/.cache/babel-loader/4e44f731d09ab4efd1e31da272df4922.json
